:root {
  /* Brand Color */
  --color-primary-base: #3B82F5;
  --color-primary-1: #CCE0FF;
  --color-primary-2: #A6C8FF;
  --color-primary-3: #80B0FF;
  --color-primary-4: #5796FA;
  --color-primary-5: #3B82F5;
  --color-primary-6: #3070D9;
  --color-primary-7: #245AB2;
  --color-primary-8: #19458C;
  --color-primary-9: #0F3166;

  /* Background Color */
  --bg-primary: #1A1C1F;
  --bg-secondary: #F5F9FE;

  /* Text Color */
  --text-light-primary: #F2F2F2;
  --text-light-secondary: #BFBFBF;
  --text-light-tertiary: #8C8C8C;
  --text-light-disabled: #595959;

  --text-dark-primary: #1A1C1F;
  --text-dark-secondary: #3A3D42;
  --text-dark-tertiary: #6B6E73;
  --text-dark-disabled: #A0A4AA;

  /* Success Color */
  --success-base: #43BF77;
  --success-1: #CCFFE1;
  --success-2: #A6FFCB;
  --success-3: #80FFB5;
  --success-4: #59E39A;
  --success-5: #43BF77;
  --success-6: #3AA66A;
  --success-7: #2F8C5A;
  --success-8: #24724A;
  --success-9: #1A593A;

  /* Warning Color */
  --warning-base: #F2B233;
  --warning-1: #FFE0B3;
  --warning-2: #FFC966;
  --warning-3: #FFB31A;
  --warning-4: #F5A300;
  --warning-5: #F2B233;
  --warning-6: #D99A2E;
  --warning-7: #B37724;
  --warning-8: #8C5A1A;
  --warning-9: #664010;

  /* Danger Color */
  --danger-base: #D93A3A;
  --danger-1: #FFD6D6;
  --danger-2: #FFADAD;
  --danger-3: #FF8585;
  --danger-4: #E85C5C;
  --danger-5: #D93A3A;
  --danger-6: #BF3333;
  --danger-7: #992929;
  --danger-8: #7A2121;
  --danger-9: #5C1818;

  /* Announcement Color */
  --announcement-base: #A855F7;
  --announcement-1: #E6CCFF;
  --announcement-2: #CC99FF;
  --announcement-3: #B366FF;
  --announcement-4: #A64DF2;
  --announcement-5: #A855F7;
  --announcement-6: #944DCC;
  --announcement-7: #7A3FB2;
  --announcement-8: #663399;
  --announcement-9: #4D2673;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #444;
}

* {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
    background-color: #f2f3f7;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Default Section */
section {
    background-color: var(--bg-secondary);
    color: #282829;
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 18px 0 18px;
    overflow: hidden;
}

section header {
    background-color: var(--bg-primary);
    color: var(--text-light-primary);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 10px;
}

section header .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

section header .left i {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    cursor: pointer;
    color: var(--text-light-primary);
}

@media (max-width: 767px) {
    section header .left i {
        display: flex;
    }
}

section header .left .page-title {
    font-weight: 400;
    color: var(--text-light-primary);
}

section header .right .dropdown .dropdown-toggle {
    background-color: transparent;
    color: var(--text-light-primary);
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 12px;
    font-weight: 400;
}

section header .right .dropdown .dropdown-menu {
    background-color: var(--bg-secondary);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: none;
}

section header .right .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: var(--color-primary-base);
    color: var(--text-light-primary);
}

section .content {
    flex: 1;
    overflow-y: auto;
    position: relative;
}

/* Dashboard */
#dashboard {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
}

#dashboard .data-count-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}

#dashboard .data-count-container .data-count {
    flex: 1 1 300px;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#dashboard .data-count-container .data-count small {
    font-weight: 400;
    color: var(--text-dark-secondary);
}

#dashboard .data-count-container .data-count .count {
    display: flex;
    flex-direction: column;
}

#dashboard .data-count-container .data-count .count h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#dashboard .data-count-container .data-count .count h1 span:nth-child(1) {
    color: var(--color-primary-9);
}

#dashboard .data-count-container .data-count .count h1 span:nth-child(2) {
    background-color: var(--color-primary-9);
    color: var(--color-primary-base);
    padding: 4px;
    border-radius: 8px;
}

#dashboard .recent-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

#dashboard .recent-container .recent-user-account-activation {
    flex: 1 1; 
    min-width: 300px;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

#dashboard .recent-container .recent-user-account-activation .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#dashboard .recent-container .recent-user-account-activation .profile i {
    color: var(--text-dark-tertiary);
    font-size: 128px;
}

#dashboard .recent-container .recent-user-account-activation .profile h6 {
    color: var(--text-dark-secondary);
}

#dashboard .recent-container .recent-user-account-activation .profile small {
    color: var(--text-dark-secondary);
    font-weight: 400;
}

#dashboard .recent-container .recent-user-account-activation .profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashboard .recent-container .recent-user-account-activation .profile-details small {
    color: var(--text-dark-secondary);
    font-weight: 400;
}

#dashboard .recent-container .recent-locker-application {
    flex: 2 1 400px;
    min-width: 300px;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#dashboard .recent-container .recent-locker-application h4 {
    color: var(--text-dark-secondary);
}

#dashboard .recent-container .recent-locker-application .table {
    background-color: transparent !important;
}

#dashboard .recent-container .recent-locker-application .table thead tr th {
    text-align: left !important;
    font-weight: 500 !important;
    vertical-align: middle !important;
    color: var(--text-dark-secondary) !important;
}

#dashboard .recent-container .recent-locker-application .table tbody tr td {
    text-align: left !important;
    font-weight: 400 !important;
    vertical-align: middle !important;
    color: var(--text-dark-tertiary) !important;
}

#dashboard .recent-container .recent-locker-application .table .location-header {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    gap: 12px !important;
}

#dashboard .recent-container .recent-locker-application .table .location-header h3 {
    font-weight: 500 !important;
    color: var(--text-dark-secondary) !important;
}

#dashboard .recent-container .recent-locker-application .table thead tr th {
    font-weight: 500 !important;
}

#dashboard .recent-container .recent-locker-application .table tbody tr td {
    font-weight: 400 !important;
}

@media (max-width: 768px) {
    #dashboard .recent-container .recent-locker-application .table thead {
        display: none;
    }

    #dashboard .recent-container .recent-locker-application .table,
    #dashboard .recent-container .recent-locker-application .table tbody,
    #dashboard .recent-container .recent-locker-application .table tr,
    #dashboard .recent-container .recent-locker-application .table td {
        display: block;
    }

    #dashboard .recent-container .recent-locker-application .table tbody {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    #dashboard .recent-container .recent-locker-application .table tr {
        margin-bottom: 10px;
        padding: 12px;
        border-radius: 8px;
    }

    #dashboard .recent-container .recent-locker-application .table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        border: none;
        padding: 6px 0;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #dashboard .recent-container .recent-locker-application .table td::before {
        content: attr(data-label);
        font-weight: 400;
        color: var(--text-dark-secondary);
        flex-shrink: 0;
    }
}

















/* Lockers */
#lockers {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
}

#lockers header {
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

#lockers header form {
    display: flex;
    align-items: center;
    gap: 12px;
}

#lockers header form .search-group {
    display: flex;
    align-items: center;
    gap: 6px;
}

#lockers header form .search-group i {
    color: var(--text-dark-secondary);
}

#lockers header form .search-group input {
    flex: 1;
    padding: 6px 12px;
    border: 1px solid var(--text-light-secondary);
    background: var(--bg-secondary);
    color: var(--text-dark-primary);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    font-weight: 400;
}

#lockers header form .search-group input:focus {
    border-color: var(--color-primary-base);
}

#lockers header .filter-group {
    display: flex;
    align-items: center;
    gap: 6px;
}

#lockers header form .filter-group i {
    color: var(--text-dark-secondary);
}

#lockers header form .filter-group select {
    padding: 6px 12px;
    border: 1px solid var(--text-light-secondary);
    background: var(--bg-secondary);
    color: var(--text-dark-primary);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    font-weight: 400;
}

#lockers header form .filter-group select:focus {
    border-color: var(--color-primary-base);
}

/* Locker applications offcanvas */
#lockers #lockerApplicationOffcanvas {
    background-color: var(--bg-secondary);
    width: 100vw;
    height: 100vh;
    padding: 9px 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#lockers #lockerApplicationOffcanvas .offcanvas-header,
#lockers #lockerApplicationOffcanvas .offcanvas-body,
#lockers #lockerApplicationOffcanvas .offcanvas-footer {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
}

#lockers #lockerApplicationOffcanvas .offcanvas-header .btn-close,
#lockers #lockerApplicationOffcanvas .offcanvas-header .btn-close:focus,
#lockers #lockerApplicationOffcanvas .offcanvas-header .btn-close:active,
#lockers #lockerApplicationOffcanvas .offcanvas-header .btn-close:hover {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

#lockers #lockerApplicationOffcanvas .offcanvas-header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

#lockers #lockerApplicationOffcanvas .offcanvas-header div h3 {
    color: var(--text-dark-secondary) !important;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body header {
    background-color: #ffffff !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08) !important;
    padding: 12px;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body header form {
    display: flex !important;
    align-items: center !important;
    gap: 12px !important;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body header form .search-group {
    display: flex !important;
    align-items: center !important;
    gap: 6px !important;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body header form .search-group i {
    color: var(--text-dark-secondary) !important;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body header form .search-group input {
    flex: 1 !important;
    padding: 6px 12px !important;
    border: 1px solid var(--text-light-secondary) !important;
    background: var(--bg-secondary) !important;
    color: var(--text-dark-primary) !important;
    border-radius: 8px !important;
    font-size: 14px !important;
    outline: none !important;
    font-weight: 400 !important;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body header form .search-group input:focus {
    border-color: var(--color-primary-base) !important;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body header .filter-group {
    display: flex !important;
    align-items: center !important;
    gap: 6px !important;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body header form .filter-group i {
    color: var(--text-dark-secondary) !important;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body header form .filter-group select {
    padding: 6px 12px !important;
    border: 1px solid var(--text-light-secondary) !important;
    background: var(--bg-secondary) !important;
    color: var(--text-dark-primary) !important;
    border-radius: 8px !important;
    font-size: 14px !important;
    outline: none !important;
    font-weight: 400 !important;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body header form .filter-group select:focus {
    border-color: var(--color-primary-base) !important;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container {
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container h3 {
    color: var(--text-dark-secondary);
    font-weight: 500;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .card {
    flex: 1 1 300px;
    padding: 12px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .card.accepted {
    border: 1px solid var(--color-primary-base);
}

#lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .card.pending {
    border: 1px solid var(--success-base);
}

#lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .card p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .card p span:nth-child(1) {
    font-weight: 400;
    color: var(--text-dark-secondary);
}

#lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .card p span:nth-child(2) {
    font-weight: 400;
    color: var(--text-dark-tertiary);
}

#lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .card .action-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .card .action-buttons .sm-btn {
    flex: 1;
    width: auto;
}

/* Locker applicaton history */
#lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table {
    background-color: transparent !important;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table thead tr th {
    text-align: left;
    font-weight: 500;
    vertical-align: middle;
    color: var(--text-dark-secondary);
}

#lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table tbody tr td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
    color: var(--text-dark-tertiary);
}

#lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-containertable .location-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

#lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table .location-header h3 {
    font-weight: 500;
    color: var(--text-dark-secondary);
}

#lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table thead tr th {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
    color: var(--text-dark-secondary);
}

#lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table tbody tr td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
    color: var(--text-dark-tertiary);
}

@media (max-width: 768px) {
    #lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .card p span:nth-child(1) {
        font-weight: 400;
        color: var(--text-dark-secondary);
        font-size: 14px !important;
    }

    #lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .card p span:nth-child(2) {
        font-weight: 400;
        color: var(--text-dark-tertiary);
        font-size: 14px !important;
    }

    #lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table thead {
        display: none;
    }

    #lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table,
    #lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table tbody,
    #lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table tr,
    #lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table td {
        display: block;
    }

    #lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table tbody {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    #lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table tr {
        margin-bottom: 10px;
        padding: 12px;
        border-radius: 8px;
    }

    #lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        border: none;
        padding: 6px 0;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table td::before {
        content: attr(data-label);
        font-weight: 400;
        color: var(--text-dark-secondary);
        flex-shrink: 0;
    }

    #lockers #lockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table td:last-child .action-buttons {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-end !important;
        gap: 6px !important;
    }
}


















section #lockers #lockerApplicationOffcanvas,
section #lockers #lockerLocationsOffcanvas,
section #lockers #lockerSizesOffcanvas,
section #lockers #lockerLogsOffcanvas {
    background-color: var(--bg-secondary);
    width: 100vw;
    height: 100vh;
    padding: 9px 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section #lockers #lockerApplicationOffcanvas .offcanvas-header,
section #lockers #lockerApplicationOffcanvas .offcanvas-body,
section #lockers #lockerApplicationOffcanvas .offcanvas-footer,
section #lockers #lockerLocationsOffcanvas .offcanvas-header,
section #lockers #lockerLocationsOffcanvas .offcanvas-body,
section #lockers #lockerLocationsOffcanvas .offcanvas-footer,
section #lockers #lockerSizesOffcanvas .offcanvas-header,
section #lockers #lockerSizesOffcanvas .offcanvas-body,
section #lockers #lockerSizesOffcanvas .offcanvas-footer,
section #lockers #lockerLogsOffcanvas .offcanvas-header,
section #lockers #lockerLogsOffcanvas .offcanvas-body,
section #lockers #lockerLogsOffcanvas .offcanvas-footer {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;    
}

section #lockers #lockerApplicationOffcanvas .offcanvas-header .btn-close,
section #lockers #lockerApplicationOffcanvas .offcanvas-header .btn-close:focus,
section #lockers #lockerApplicationOffcanvas .offcanvas-header .btn-close:active,
section #lockers #lockerApplicationOffcanvas .offcanvas-header .btn-close:hover,
section #lockers #lockerLocationsOffcanvas .offcanvas-header .btn-close,
section #lockers #lockerLocationsOffcanvas .offcanvas-header .btn-close:focus,
section #lockers #lockerLocationsOffcanvas .offcanvas-header .btn-close:active,
section #lockers #lockerLocationsOffcanvas .offcanvas-header .btn-close:hover,
section #lockers #lockerSizesOffcanvas .offcanvas-header .btn-close,
section #lockers #lockerSizesOffcanvas .offcanvas-header .btn-close:focus,
section #lockers #lockerSizesOffcanvas .offcanvas-header .btn-close:active,
section #lockers #lockerSizesOffcanvas .offcanvas-header .btn-close:hover,
section #lockers #lockerLogsOffcanvas .offcanvas-header .btn-close,
section #lockers #lockerLogsOffcanvas .offcanvas-header .btn-close:focus,
section #lockers #lockerLogsOffcanvas .offcanvas-header .btn-close:active,
section #lockers #lockerLogsOffcanvas .offcanvas-header .btn-close:hover {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

section #lockers #lockerApplicationOffcanvas .offcanvas-header div,
section #lockers #lockerLocationsOffcanvas .offcanvas-header div,
section #lockers #lockerSizesOffcanvas .offcanvas-header div,
section #lockers #lockerLogsOffcanvas .offcanvas-header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

section #lockers #lockerApplicationOffcanvas .offcanvas-header div h3,
section #lockers #lockerLocationsOffcanvas .offcanvas-header div h3,
section #lockers #lockerSizesOffcanvas .offcanvas-header div h3,
section #lockers #lockerLogsOffcanvas .offcanvas-header div h3 {
    color: var(--text-dark-secondary) !important;
}

section #lockers #lockerApplicationOffcanvas .offcanvas-body table,
section #lockers #lockerLocationsOffcanvas .offcanvas-body table,
section #lockers #lockerSizesOffcanvas .offcanvas-body table,
section #lockers #lockerLogsOffcanvas .offcanvas-body table {
    background-color: transparent !important;
}

section #lockers #lockerApplicationOffcanvas .offcanvas-body table thead tr th,
section #lockers #lockerLocationsOffcanvas .offcanvas-body table thead tr th,
section #lockers #lockerSizesOffcanvas .offcanvas-body table thead tr th,
section #lockers #lockerLogsOffcanvas .offcanvas-body table thead tr th {
    text-align: left;
    font-weight: 500;
    vertical-align: middle;
    color: var(--text-dark-secondary);
}

section #lockers #lockerApplicationOffcanvas .offcanvas-body table tbody tr td,
section #lockers #lockerLocationsOffcanvas .offcanvas-body table tbody tr td,
section #lockers #lockerSizesOffcanvas .offcanvas-body table tbody tr td,
section #lockers #lockerLogsOffcanvas .offcanvas-body table tbody tr td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
    color: var(--text-dark-tertiary);
}

/* Locker application - location - sizes - logs offcanvas */
section #lockers :is(
    #lockerApplicationOffcanvas,
    #lockerLocationsOffcanvas,
    #lockerSizesOffcanvas,
    #lockerLogsOffcanvas
) .offcanvas-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section #lockers :is(
    #lockerApplicationOffcanvas,
    #lockerLocationsOffcanvas,
    #lockerSizesOffcanvas,
    #lockerLogsOffcanvas
) .offcanvas-body .table-container {
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section #lockers :is(
    #lockerApplicationOffcanvas,
    #lockerLocationsOffcanvas,
    #lockerSizesOffcanvas,
    #lockerLogsOffcanvas
) .offcanvas-body .table-container table .location-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

section #lockers :is(
    #lockerApplicationOffcanvas,
    #lockerLocationsOffcanvas,
    #lockerSizesOffcanvas,
    #lockerLogsOffcanvas
) .offcanvas-body .table-container table .location-header h3 {
    font-weight: 500;
    color: var(--text-dark-secondary);
}

section #lockers :is(
    #lockerApplicationOffcanvas,
    #lockerLocationsOffcanvas,
    #lockerSizesOffcanvas,
    #lockerLogsOffcanvas
) .offcanvas-body .table-container table table thead tr th {
    text-align: left;
    font-weight: 500;
    vertical-align: middle;
    color: var(--text-dark-secondary);
}

section #lockers :is(
    #lockerApplicationOffcanvas,
    #lockerLocationsOffcanvas,
    #lockerSizesOffcanvas,
    #lockerLogsOffcanvas
) .offcanvas-body .table-container table table tbody tr td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
    color: var(--text-dark-tertiary);
}

@media (max-width: 768px) {

    section #lockers :is(
        #lockerApplicationOffcanvas,
        #lockerLocationsOffcanvas,
        #lockerSizesOffcanvas,
        #lockerLogsOffcanvas
    ) .offcanvas-body .table-container table thead {
        display: none;
    }

    section #lockers :is(
        #lockerApplicationOffcanvas,
        #lockerLocationsOffcanvas,
        #lockerSizesOffcanvas,
        #lockerLogsOffcanvas
    ) .offcanvas-body .table-container table,
    section #lockers :is(
        #lockerApplicationOffcanvas,
        #lockerLocationsOffcanvas,
        #lockerSizesOffcanvas,
        #lockerLogsOffcanvas
    ) .offcanvas-body .table-container table tbody,
    section #lockers :is(
        #lockerApplicationOffcanvas,
        #lockerLocationsOffcanvas,
        #lockerSizesOffcanvas,
        #lockerLogsOffcanvas
    ) .offcanvas-body .table-container table tr,
    section #lockers :is(
        #lockerApplicationOffcanvas,
        #lockerLocationsOffcanvas,
        #lockerSizesOffcanvas,
        #lockerLogsOffcanvas
    ) .offcanvas-body .table-container table td {
        display: block;
    }

    section #lockers :is(
        #lockerApplicationOffcanvas,
        #lockerLocationsOffcanvas,
        #lockerSizesOffcanvas,
        #lockerLogsOffcanvas
    ) .offcanvas-body .table-container table tbody {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    section #lockers :is(
        #lockerApplicationOffcanvas,
        #lockerLocationsOffcanvas,
        #lockerSizesOffcanvas,
        #lockerLogsOffcanvas
    ) .offcanvas-body .table-container table tr {
        margin-bottom: 10px;
        padding: 12px;
        border-radius: 8px;
    }

    section #lockers :is(
        #lockerApplicationOffcanvas,
        #lockerLocationsOffcanvas,
        #lockerSizesOffcanvas,
        #lockerLogsOffcanvas
    ) .offcanvas-body .table-container table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        border: none;
        padding: 6px 0;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    section #lockers :is(
        #lockerApplicationOffcanvas,
        #lockerLocationsOffcanvas,
        #lockerSizesOffcanvas,
        #lockerLogsOffcanvas
    ) .offcanvas-body .table-container table td::before {
        content: attr(data-label);
        font-weight: 500;
        color: #555;
        flex-shrink: 0;
    }

    section #lockers :is(
        #lockerApplicationOffcanvas,
        #lockerLocationsOffcanvas,
        #lockerSizesOffcanvas,
        #lockerLogsOffcanvas
    ) .offcanvas-body .table-container table td:last-child .action-buttons {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-end !important;
        gap: 6px !important;
    }
}

.pagination {
    margin: 0 auto;
}

.pagination .page-item.active {
    background-color: var(--color-primary-base);
    color: var(--text-light-secondary);
}

.pagination .page-item a {
    box-shadow: none;
    border: 1px solid var(--color-primary-base);
    color: var(--color-primary-base);
}

section #lockers .table-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section #lockers .table-container .location-slot-section {
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section #lockers .table-container .location-slot-section .location-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

section #lockers .table-container .location-slot-section .location-header h3 {
    font-weight: 500;
    color: var(--text-dark-secondary);
}

section #lockers .table-container .location-slot-section table thead tr th {
    text-align: left;
    font-weight: 500;
    vertical-align: middle;
    color: var(--text-dark-secondary);
}

section #lockers .table-container .location-slot-section table tbody tr td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
    color: var(--text-dark-tertiary);
}

@media (max-width: 768px) {
    section #lockers .table-container table thead {
        display: none;
    }

    section #lockers .table-container table,
    section #lockers .table-container table tbody,
    section #lockers .table-container table tr,
    section #lockers .table-container table td {
        display: block;
    }

    section #lockers .table-container table tbody {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    section #lockers .table-container table tr {
        margin-bottom: 10px;
        padding: 12px;
        border-radius: 8px;
    }

    section #lockers .table-container table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        border: none;
        padding: 6px 0;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    section #lockers .table-container table td::before {
        content: attr(data-label);
        font-weight: 500;
        color: #555;
        flex-shrink: 0;
    }

    section #lockers .table-container table td:last-child .action-buttons{
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-end !important;
        gap: 6px !important;
    }
}

/* Users */
section #users {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
}

section #users header {
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

section #users header form {
    display: flex;
    align-items: center;
    gap: 12px;
}

section #users header form .search-group {
    display: flex;
    align-items: center;
    gap: 6px;
}

section #users header form .search-group i {
    color: var(--text-dark-secondary);
}

section #users header form .search-group input {
    flex: 1;
    padding: 6px 12px;
    border: 1px solid var(--text-light-secondary);
    background: var(--bg-secondary);
    color: var(--text-dark-primary);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    font-weight: 400;
}

section #users header form .search-group input:focus {
    border-color: var(--color-primary-base);
}

section #users header .filter-group {
    display: flex;
    align-items: center;
    gap: 6px;
}

section #users header form .filter-group i {
    color: var(--text-dark-secondary);
}

section #users header form .filter-group select {
    padding: 6px 12px;
    border: 1px solid var(--text-light-secondary);
    background: var(--bg-secondary);
    color: var(--text-dark-primary);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    font-weight: 400;
}

section #users header form .filter-group select:focus {
    border-color: var(--color-primary-base);
}

section #users #userAccountLogsOffcanvas {
    background-color: var(--bg-secondary);
    width: 100vw;
    height: 100vh;
    padding: 9px 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section #users #userAccountLogsOffcanvas .offcanvas-header,
section #users #userAccountLogsOffcanvas .offcanvas-body,
section #users #userAccountLogsOffcanvas .offcanvas-footer {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
}

section #users #userAccountLogsOffcanvas .offcanvas-header .btn-close,
section #users #userAccountLogsOffcanvas .offcanvas-header .btn-close:focus,
section #users #userAccountLogsOffcanvas .offcanvas-header .btn-close:active,
section #users #userAccountLogsOffcanvas .offcanvas-header .btn-close:hover {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

section #users #userAccountLogsOffcanvas .offcanvas-header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

section #users #userAccountLogsOffcanvas .offcanvas-header div h3 {
    color: var(--text-dark-secondary) !important;
}

section #users #userAccountLogsOffcanvas .offcanvas-body table {
    background-color: transparent !important;
}

section #users #userAccountLogsOffcanvas .offcanvas-body table thead tr th {
    text-align: left;
    font-weight: 500;
    vertical-align: middle;
    color: var(--text-dark-secondary);
}

section #users #userAccountLogsOffcanvas .offcanvas-body table tbody tr td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
    color: var(--text-dark-tertiary);
}

/* User account logs offcanvas */
section #users #userAccountLogsOffcanvas .offcanvas-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section #users #userAccountLogsOffcanvas .offcanvas-body .table-container {
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table .location-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table .location-header h3 {
    font-weight: 500;
    color: var(--text-dark-secondary);
}

section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table table thead tr th {
    text-align: left;
    font-weight: 500;
    vertical-align: middle;
    color: var(--text-dark-secondary);
}

section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table table tbody tr td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
    color: var(--text-dark-tertiary);
}

@media (max-width: 768px) {

    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table thead {
        display: none;
    }

    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table,
    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table tbody,
    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table tr,
    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table td {
        display: block;
    }

    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table tbody {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table tr {
        margin-bottom: 10px;
        padding: 12px;
        border-radius: 8px;
    }

    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        border: none;
        padding: 6px 0;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table td::before {
        content: attr(data-label);
        font-weight: 500;
        color: #555;
        flex-shrink: 0;
    }

    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table td:last-child .action-buttons {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-end !important;
        gap: 6px !important;
    }
}

section #users .table-container {
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section #users .table-container table thead tr th {
    text-align: left;
    font-weight: 500;
    vertical-align: middle;
    color: var(--text-dark-secondary);
}

section #users .table-container table tbody tr td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
    color: var(--text-dark-tertiary);
}

@media (max-width: 768px) {
    section #users .table-container table thead {
        display: none;
    }

    section #users .table-container table,
    section #users .table-container table tbody,
    section #users .table-container table tr,
    section #users .table-container table td {
        display: block;
    }

    section #users .table-container table tbody {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    section #users .table-container table tr {
        margin-bottom: 10px;
        padding: 12px;
        border-radius: 8px;
    }

    section #users .table-container table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        border: none;
        padding: 6px 0;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    section #users .table-container table td::before {
        content: attr(data-label);
        font-weight: 500;
        color: #555;
        flex-shrink: 0;
    }

    section #users .table-container table td:last-child .action-buttons{
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-end !important;
        gap: 6px !important;
    }
}

#viewUserModal .modal-dialog {
    max-width: 400px !important;
}

#viewUserModal .modal-content {
    background-color: var(--bg-secondary) !important;
    color: var(--text-primary) !important;
    border: none !important;
    border-radius: 12px !important;
    padding: 18px !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 18px !important;
}

#viewUserModal .modal-content .modal-header,
#viewUserModal .modal-content .modal-body,
#viewUserModal .modal-content .modal-footer {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
}

#viewUserModal .modal-content .modal-header .btn-close,
#viewUserModal .modal-content .modal-header .btn-close:focus,
#viewUserModal .modal-content .modal-header .btn-close:active,
#viewUserModal .modal-content .modal-header .btn-close:hover {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

#viewUserModal .modal-content .modal-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#viewUserModal .modal-content .modal-body .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#viewUserModal .modal-content .modal-body .profile i {
    color: var(--text-dark-tertiary);
    font-size: 128px;
}

#viewUserModal .modal-content .modal-body .profile h4 {
    color: var(--text-dark-secondary);
    text-align: center;
}

#viewUserModal .modal-content .modal-body .profile-section {
    background-color: #ffffff;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#viewUserModal .modal-content .modal-body .profile-section h6 {
    color: var(--text-dark-secondary);
}

#viewUserModal .modal-content .modal-body .profile-section p {
    color: var(--text-dark-tertiary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#viewUserModal .modal-content .modal-body .profile-section p small {
    font-size: 13px;
}