:root {
    /* Brand Color */
    --color-primary-base: #3B82F5;
    --color-primary-1: #CCE0FF;
    --color-primary-2: #A6C8FF;
    --color-primary-3: #80B0FF;
    --color-primary-4: #5796FA;
    --color-primary-5: #3B82F5;
    --color-primary-6: #3070D9;
    --color-primary-7: #245AB2;
    --color-primary-8: #19458C;
    --color-primary-9: #0F3166;

    /* Background Color */
    --bg-primary: #1A1C1F;
    --bg-secondary: #F5F9FE;

    /* Text Color */
    --text-light-primary: #F2F2F2;
    --text-light-secondary: #BFBFBF;
    --text-light-tertiary: #8C8C8C;
    --text-light-disabled: #595959;

    --text-dark-primary: #1A1C1F;
    --text-dark-secondary: #3A3D42;
    --text-dark-tertiary: #6B6E73;
    --text-dark-disabled: #A0A4AA;

    /* Success Color */
    --success-base: #43BF77;
    --success-1: #CCFFE1;
    --success-2: #A6FFCB;
    --success-3: #80FFB5;
    --success-4: #59E39A;
    --success-5: #43BF77;
    --success-6: #3AA66A;
    --success-7: #2F8C5A;
    --success-8: #24724A;
    --success-9: #1A593A;

    /* Warning Color */
    --warning-base: #F2B233;
    --warning-1: #FFE0B3;
    --warning-2: #FFC966;
    --warning-3: #FFB31A;
    --warning-4: #F5A300;
    --warning-5: #F2B233;
    --warning-6: #D99A2E;
    --warning-7: #B37724;
    --warning-8: #8C5A1A;
    --warning-9: #664010;

    /* Danger Color */
    --danger-base: #D93A3A;
    --danger-1: #FFD6D6;
    --danger-2: #FFADAD;
    --danger-3: #FF8585;
    --danger-4: #E85C5C;
    --danger-5: #D93A3A;
    --danger-6: #BF3333;
    --danger-7: #992929;
    --danger-8: #7A2121;
    --danger-9: #5C1818;

    /* Announcement Color */
    --announcement-base: #A855F7;
    --announcement-1: #E6CCFF;
    --announcement-2: #CC99FF;
    --announcement-3: #B366FF;
    --announcement-4: #A64DF2;
    --announcement-5: #A855F7;
    --announcement-6: #944DCC;
    --announcement-7: #7A3FB2;
    --announcement-8: #663399;
    --announcement-9: #4D2673;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #444;
}

* {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
    background-color: #f2f3f7;
}

body {
    margin: 0 !important;
    padding: 0 !important;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Default Section */
section {
    background-color: var(--bg-secondary);
    color: #282829;
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 18px 0 18px;
    overflow: hidden;
}

section header {
    background-color: var(--bg-primary);
    color: var(--text-light-primary);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 10px;
}

section header .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

section header .left i {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    cursor: pointer;
    color: var(--text-light-primary);
}

@media (max-width: 767px) {
    section header .left i {
        display: flex;
    }
}

section header .left .page-title {
    font-weight: 400;
    color: var(--text-light-primary);
}

section header .right .dropdown .dropdown-toggle {
    background-color: transparent;
    color: var(--text-light-primary);
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 12px;
    font-weight: 400;
}

section header .right .dropdown .dropdown-menu {
    background-color: var(--bg-secondary);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: none;
}

section header .right .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: var(--color-primary-base);
    color: var(--text-light-primary);
}

section .content {
    flex: 1;
    overflow-y: auto;
    position: relative;
}

/* Dashboard */
#dashboard {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
}

#dashboard .data-count-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

#dashboard .data-count-container .data-count {
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#dashboard .data-count-container .data-count small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
    color: var(--text-dark-secondary);
}

#dashboard .data-count-container .data-count small span {
    font-weight: 400;
    color: var(--text-dark-secondary);
}

#dashboard .data-count-container .data-count small span a {
    font-weight: 400;
    color: var(--color-primary-base);
    text-decoration: none;
}

#dashboard .data-count-container .data-count .count {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#dashboard .data-count-container .data-count .count h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#dashboard .data-count-container .data-count .count h1 span:nth-child(1) {
    color: var(--color-primary-9);
}

#dashboard .data-count-container .data-count .count h1 span:nth-child(2) {
    background-color: var(--color-primary-9);
    color: var(--color-primary-base);
    padding: 4px;
    border-radius: 8px;
}

#dashboard .recent-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

#dashboard .recent-container .recent-user-account-activation {
    flex: 1 1;
    min-width: 300px;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

#dashboard .recent-container .recent-user-account-activation .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#dashboard .recent-container .recent-user-account-activation .profile i {
    color: var(--text-dark-tertiary);
    font-size: 128px;
}

#dashboard .recent-container .recent-user-account-activation .profile h6 {
    color: var(--text-dark-secondary);
}

#dashboard .recent-container .recent-user-account-activation .profile small {
    color: var(--text-dark-secondary);
    font-weight: 400;
}

#dashboard .recent-container .recent-user-account-activation .profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashboard .recent-container .recent-user-account-activation .profile-details small {
    color: var(--text-dark-secondary);
    font-weight: 400;
}

#dashboard .recent-container .recent-locker-application {
    flex: 2 1 400px;
    min-width: 300px;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#dashboard .recent-container .recent-locker-application h4 {
    color: var(--text-dark-secondary);
}

#dashboard .recent-container .recent-locker-application .table {
    background-color: transparent !important;
}

#dashboard .recent-container .recent-locker-application .table thead tr th {
    text-align: left !important;
    font-weight: 500 !important;
    vertical-align: middle !important;
    color: var(--text-dark-secondary) !important;
    font-size: 14px;
}

#dashboard .recent-container .recent-locker-application .table tbody tr td {
    text-align: left !important;
    font-weight: 400 !important;
    vertical-align: middle !important;
    color: var(--text-dark-tertiary) !important;
    font-size: 14px;
}

#dashboard .recent-container .recent-locker-application .table .location-header {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    gap: 12px !important;
}

#dashboard .recent-container .recent-locker-application .table .location-header h3 {
    font-weight: 500 !important;
    color: var(--text-dark-secondary) !important;
}

#dashboard .recent-container .recent-locker-application .table thead tr th {
    font-weight: 500 !important;
}

#dashboard .recent-container .recent-locker-application .table tbody tr td {
    font-weight: 400 !important;
}

@media (max-width: 768px) {
    #dashboard .recent-container .recent-locker-application .table thead {
        display: none;
    }

    #dashboard .recent-container .recent-locker-application .table,
    #dashboard .recent-container .recent-locker-application .table tbody,
    #dashboard .recent-container .recent-locker-application .table tr,
    #dashboard .recent-container .recent-locker-application .table td {
        display: block;
    }

    #dashboard .recent-container .recent-locker-application .table tbody {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    #dashboard .recent-container .recent-locker-application .table tr {
        margin-bottom: 10px;
        padding: 12px;
        border-radius: 8px;
    }

    #dashboard .recent-container .recent-locker-application .table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        border: none;
        padding: 6px 0;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #dashboard .recent-container .recent-locker-application .table td::before {
        content: attr(data-label);
        font-weight: 400;
        color: var(--text-dark-secondary);
        flex-shrink: 0;
    }
}

/* Lockers */
#lockers {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
}

#lockers header {
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

#lockers header form {
    display: flex;
    align-items: center;
    gap: 12px;
}

#lockers header form .search-group {
    display: flex;
    align-items: center;
    gap: 6px;
}

#lockers header form .search-group i {
    color: var(--text-dark-secondary);
}

#lockers header form .search-group input {
    flex: 1;
    padding: 6px 12px;
    border: 1px solid var(--text-light-secondary);
    background: var(--bg-secondary);
    color: var(--text-dark-primary);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    font-weight: 400;
}

#lockers header form .search-group input:focus {
    border-color: var(--color-primary-base);
}

#lockers header .filter-group {
    display: flex;
    align-items: center;
    gap: 6px;
}

#lockers header form .filter-group i {
    color: var(--text-dark-secondary);
}

#lockers header form .filter-group select {
    padding: 6px 12px;
    border: 1px solid var(--text-light-secondary);
    background: var(--bg-secondary);
    color: var(--text-dark-primary);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    font-weight: 400;
}

#lockers header form .filter-group select:focus {
    border-color: var(--color-primary-base);
}

/* Locker pending, accepted, ended, history applications offcanvas */
#lockers #lockerPendingApplicationOffcanvas,
#lockers #lockerAcceptedApplicationOffcanvas,
#lockers #lockerEndedApplicationOffcanvas,
#lockers #lockerApplicationHistoryOffcanvas {
    background-color: var(--bg-secondary);
    width: 100vw;
    height: 100vh;
    padding: 9px 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-header,
#lockers #lockerPendingApplicationOffcanvas .offcanvas-body,
#lockers #lockerPendingApplicationOffcanvas .offcanvas-footer,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-header,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-footer,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-header,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-footer,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-header,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-footer {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-header .btn-close,
#lockers #lockerPendingApplicationOffcanvas .offcanvas-header .btn-close:focus,
#lockers #lockerPendingApplicationOffcanvas .offcanvas-header .btn-close:active,
#lockers #lockerPendingApplicationOffcanvas .offcanvas-header .btn-close:hover,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-header .btn-close,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-header .btn-close:focus,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-header .btn-close:active,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-header .btn-close:hover,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-header .btn-close,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-header .btn-close:focus,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-header .btn-close:active,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-header .btn-close:hover,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-header .btn-close,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-header .btn-close:focus,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-header .btn-close:active,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-header .btn-close:hover {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-header div,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-header div,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-header div,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-header div h3,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-header div h3,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-header div h3,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-header div h3 {
    color: var(--text-dark-secondary) !important;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body header,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body header,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body header,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body header {
    background-color: #ffffff !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08) !important;
    padding: 12px;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body header form,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body header form,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body header form,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body header form {
    display: flex !important;
    align-items: center !important;
    gap: 12px !important;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body header form .search-group,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body header form .search-group,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body header form .search-group,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body header form .search-group {
    display: flex !important;
    align-items: center !important;
    gap: 6px !important;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body header form .search-group i,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body header form .search-group i,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body header form .search-group i,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body header form .search-group i {
    color: var(--text-dark-secondary) !important;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body header form .search-group input,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body header form .search-group input,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body header form .search-group input,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body header form .search-group input {
    flex: 1 !important;
    padding: 6px 12px !important;
    border: 1px solid var(--text-light-secondary) !important;
    background: var(--bg-secondary) !important;
    color: var(--text-dark-primary) !important;
    border-radius: 8px !important;
    font-size: 14px !important;
    outline: none !important;
    font-weight: 400 !important;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body header form .search-group input:focus,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body header form .search-group input:focus,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body header form .search-group input:focus,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body header form .search-group input:focus {
    border-color: var(--color-primary-base) !important;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body header .filter-group,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body header .filter-group,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body header .filter-group,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body header .filter-group {
    display: flex !important;
    align-items: center !important;
    gap: 6px !important;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body header form .filter-group i,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body header form .filter-group i,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body header form .filter-group i,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body header form .filter-group i {
    color: var(--text-dark-secondary) !important;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body header form .filter-group select,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body header form .filter-group select,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body header form .filter-group select,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body header form .filter-group select {
    padding: 6px 12px !important;
    border: 1px solid var(--text-light-secondary) !important;
    background: var(--bg-secondary) !important;
    color: var(--text-dark-primary) !important;
    border-radius: 8px !important;
    font-size: 14px !important;
    outline: none !important;
    font-weight: 400 !important;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body header form .filter-group select:focus,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body header form .filter-group select:focus,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body header form .filter-group select:focus,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body header form .filter-group select:focus {
    border-color: var(--color-primary-base) !important;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .card-container,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .card-container,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body .card-container,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .card-container {
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .card-container .cards,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .card-container .cards,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body .card-container .cards,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .card-container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 12px;
    align-items: start;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .card-container .card,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .card-container .card,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body .card-container .card,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .card-container .card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .card-container .card .card-header,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .card-container .card .card-header,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body .card-container .card .card-header,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .card-container .card .card-header,
#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .card-container .card .card-body,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .card-container .card .card-body,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body .card-container .card .card-body,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .card-container .card .card-body,
#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .card-container .card .card-footer,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .card-container .card .card-footer,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body .card-container .card .card-footer,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .card-container .card .card-footer {
    border: none;
    background-color: #ffffff;
    padding: 12px;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .card-container .card .card-header {
    border-radius: 12px;
    background: linear-gradient(135deg, var(--success-base), var(--success-6));
    position: relative;
}

#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .card-container .card .card-header {
    border-radius: 12px;
    background: linear-gradient(135deg, var(--color-primary-base), var(--color-primary-6));
    position: relative;
}

#lockers #lockerEndedApplicationOffcanvas .offcanvas-body .card-container .card .card-header {
    border-radius: 12px;
    background: linear-gradient(135deg, var(--danger-base), var(--danger-6));
    position: relative;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .card-container .card .card-header h4,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .card-container .card .card-header h4,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body .card-container .card .card-header h4,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .card-container .card .card-header h4 {
    color: var(--text-dark-secondary);
    text-transform: uppercase;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .card-container .card .card-header p,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .card-container .card .card-header p,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body .card-container .card .card-header p,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .card-container .card .card-header p {
    color: var(--text-dark-secondary);
    text-transform: uppercase;
    font-size: 14px;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .card-container .card .card-header .badge,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .card-container .card .card-header .badge,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body .card-container .card .card-header .badge,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .card-container .card .card-header .badge {
    position: absolute;
    top: 12px;
    right: 12px;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .card-container .card .card-body,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .card-container .card .card-body,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body .card-container .card .card-body,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .card-container .card .card-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .card-container .card .card-body div,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .card-container .card .card-body div,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body .card-container .card .card-body div,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .card-container .card .card-body div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .card-container .card .card-body div .label,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .card-container .card .card-body div .label,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body .card-container .card .card-body div .label,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .card-container .card .card-body div .label {
    color: var(--text-dark-tertiary);
    text-transform: uppercase;
    font-weight: 500;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .card-container .card .card-body div p,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .card-container .card .card-body div p,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body .card-container .card .card-body div p,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .card-container .card .card-body div p {
    color: var(--text-dark-secondary);
    font-weight: 400;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .card-container .card .card-footer,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .card-container .card .card-footer,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body .card-container .card .card-footer,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .card-container .card .card-footer {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .card-container .card .card-footer .action-buttons,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .card-container .card .card-footer .action-buttons,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body .card-container .card .card-footer .action-buttons,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .card-container .card .card-footer .action-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .card-container .card .card-footer .action-buttons .sm-btn,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .card-container .card .card-footer .action-buttons .sm-btn,
#lockers #lockerEndedApplicationOffcanvas .offcanvas-body .card-container .card .card-footer .action-buttons .sm-btn,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .card-container .card .card-footer .action-buttons .sm-btn {
    flex: 1;
    width: auto;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .table,
#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .table thead,
#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .table tbody,
#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .table tr,
#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .table th,
#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .table td,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .table,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .table thead,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .table tbody,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .table tr,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .table th,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .table td,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .table,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .table thead,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .table tbody,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .table tr,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .table th,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .table td {
    background-color: transparent !important;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .table thead tr th,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .table thead tr th,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .table thead tr th {
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    vertical-align: middle;
    color: var(--text-dark-secondary);
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .table tbody tr td,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .table tbody tr td,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .table tbody tr td {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    vertical-align: middle;
    color: var(--text-dark-tertiary);
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .location-header,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .location-header,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .location-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

#lockers #lockerPendingApplicationOffcanvas .offcanvas-body .table .location-header h3,
#lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .table .location-header h3,
#lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .table .location-header h3 {
    font-weight: 500;
    color: var(--text-dark-secondary);
}

@media (max-width: 768px) {
    #lockers #lockerPendingApplicationOffcanvas .offcanvas-body .table thead,
    #lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .table thead,
    #lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .table thead {
        display: none;
    }

    #lockers #lockerPendingApplicationOffcanvas .offcanvas-body .table,
    #lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .table,
    #lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .table,
    #lockers #lockerPendingApplicationOffcanvas .offcanvas-body .table tbody,
    #lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .table tbody,
    #lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .table tbody,
    #lockers #lockerPendingApplicationOffcanvas .offcanvas-body .table tr,
    #lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .table tr,
    #lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .table tr,
    #lockers #lockerPendingApplicationOffcanvas .offcanvas-body .table td,
    #lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .table td,
    #lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .table td {
        display: block;
    }

    #lockers #lockerPendingApplicationOffcanvas .offcanvas-body .table tbody,
    #lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .table tbody,
    #lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .table tbody {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    #lockers #lockerPendingApplicationOffcanvas .offcanvas-body .table tr,
    #lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .table tr,
    #lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .table tr {
        margin-bottom: 10px;
        padding: 12px;
        border-radius: 8px;
    }

    #lockers #lockerPendingApplicationOffcanvas .offcanvas-body .table td,
    #lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .table td,
    #lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        border: none;
        padding: 6px 0;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #lockers #lockerPendingApplicationOffcanvas .offcanvas-body .table td::before,
    #lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .table td::before,
    #lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .table td::before {
        content: attr(data-label);
        font-weight: 400;
        color: var(--text-dark-secondary);
        flex-shrink: 0;
    }

    #lockers #lockerPendingApplicationOffcanvas .offcanvas-body .table td:last-child .action-buttons,
    #lockers #lockerAcceptedApplicationOffcanvas .offcanvas-body .table td:last-child .action-buttons,
    #lockers #lockerApplicationHistoryOffcanvas .offcanvas-body .table td:last-child .action-buttons {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-end !important;
        gap: 6px !important;
    }
}

/* Locker locations, sizes, academic calendar, logs applications offcanvas */
section #lockers #lockerLocationsOffcanvas,
section #lockers #lockerSizesOffcanvas,
section #lockers #academicCalendarOffcanvas,
section #lockers #lockerLogsOffcanvas {
    background-color: var(--bg-secondary);
    width: 100vw;
    height: 100vh;
    padding: 9px 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section #lockers #lockerLocationsOffcanvas .offcanvas-header,
section #lockers #lockerLocationsOffcanvas .offcanvas-body,
section #lockers #lockerLocationsOffcanvas .offcanvas-footer,
section #lockers #lockerSizesOffcanvas .offcanvas-header,
section #lockers #lockerSizesOffcanvas .offcanvas-body,
section #lockers #lockerSizesOffcanvas .offcanvas-footer,
section #lockers #academicCalendarOffcanvas .offcanvas-header,
section #lockers #academicCalendarOffcanvas .offcanvas-body,
section #lockers #academicCalendarOffcanvas .offcanvas-footer,
section #lockers #lockerLogsOffcanvas .offcanvas-header,
section #lockers #lockerLogsOffcanvas .offcanvas-body,
section #lockers #lockerLogsOffcanvas .offcanvas-footer {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
}

section #lockers #lockerLocationsOffcanvas .offcanvas-header .btn-close,
section #lockers #lockerLocationsOffcanvas .offcanvas-header .btn-close:focus,
section #lockers #lockerLocationsOffcanvas .offcanvas-header .btn-close:active,
section #lockers #lockerLocationsOffcanvas .offcanvas-header .btn-close:hover,
section #lockers #lockerSizesOffcanvas .offcanvas-header .btn-close,
section #lockers #lockerSizesOffcanvas .offcanvas-header .btn-close:focus,
section #lockers #lockerSizesOffcanvas .offcanvas-header .btn-close:active,
section #lockers #lockerSizesOffcanvas .offcanvas-header .btn-close:hover,
section #lockers #academicCalendarOffcanvas .offcanvas-header .btn-close,
section #lockers #academicCalendarOffcanvas .offcanvas-header .btn-close:focus,
section #lockers #academicCalendarOffcanvas .offcanvas-header .btn-close:active,
section #lockers #academicCalendarOffcanvas .offcanvas-header .btn-close:hover,
section #lockers #lockerLogsOffcanvas .offcanvas-header .btn-close,
section #lockers #lockerLogsOffcanvas .offcanvas-header .btn-close:focus,
section #lockers #lockerLogsOffcanvas .offcanvas-header .btn-close:active,
section #lockers #lockerLogsOffcanvas .offcanvas-header .btn-close:hover {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

section #lockers #lockerLocationsOffcanvas .offcanvas-header div,
section #lockers #lockerSizesOffcanvas .offcanvas-header div,
section #lockers #academicCalendarOffcanvas .offcanvas-header div,
section #lockers #lockerLogsOffcanvas .offcanvas-header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

section #lockers #lockerLocationsOffcanvas .offcanvas-header div h3,
section #lockers #lockerSizesOffcanvas .offcanvas-header div h3,
section #lockers #academicCalendarOffcanvas .offcanvas-header div h3,
section #lockers #lockerLogsOffcanvas .offcanvas-header div h3 {
    color: var(--text-dark-secondary) !important;
}

section #lockers #lockerLocationsOffcanvas .offcanvas-body table,
section #lockers #lockerSizesOffcanvas .offcanvas-body table,
section #lockers #academicCalendarOffcanvas .offcanvas-body table,
section #lockers #lockerLogsOffcanvas .offcanvas-body table {
    background-color: transparent !important;
}

section #lockers #lockerLocationsOffcanvas .offcanvas-body table thead tr th,
section #lockers #lockerSizesOffcanvas .offcanvas-body table thead tr th,
section #lockers #academicCalendarOffcanvas .offcanvas-body table thead tr th,
section #lockers #lockerLogsOffcanvas .offcanvas-body table thead tr th {
    text-align: left;
    font-weight: 500;
    vertical-align: middle;
    color: var(--text-dark-secondary);
    font-size: 14px;
}

section #lockers #lockerLocationsOffcanvas .offcanvas-body table tbody tr td,
section #lockers #lockerSizesOffcanvas .offcanvas-body table tbody tr td,
section #lockers #academicCalendarOffcanvas .offcanvas-body table tbody tr td,
section #lockers #lockerLogsOffcanvas .offcanvas-body table tbody tr td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
    color: var(--text-dark-tertiary);
    font-size: 14px;
}

section #lockers :is(#lockerLocationsOffcanvas, #lockerSizesOffcanvas, #academicCalendarOffcanvas, #lockerLogsOffcanvas) .offcanvas-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section #lockers :is(#lockerLocationsOffcanvas, #lockerSizesOffcanvas, #academicCalendarOffcanvas, #lockerLogsOffcanvas) .offcanvas-body .table-container {
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section #lockers :is(#lockerLocationsOffcanvas, #lockerSizesOffcanvas, #academicCalendarOffcanvas, #lockerLogsOffcanvas) .offcanvas-body .table-container table .location-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

section #lockers :is(#lockerLocationsOffcanvas, #lockerSizesOffcanvas, #academicCalendarOffcanvas, #lockerLogsOffcanvas) .offcanvas-body .table-container table .location-header h3 {
    font-weight: 500;
    color: var(--text-dark-secondary);
}

section #lockers :is(#lockerLocationsOffcanvas, #lockerSizesOffcanvas, #academicCalendarOffcanvas, #lockerLogsOffcanvas) .offcanvas-body .table-container table table thead tr th {
    text-align: left;
    font-weight: 500;
    vertical-align: middle;
    color: var(--text-dark-secondary);
}

section #lockers :is(#lockerLocationsOffcanvas, #lockerSizesOffcanvas, #academicCalendarOffcanvas, #lockerLogsOffcanvas) .offcanvas-body .table-container table table tbody tr td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
    color: var(--text-dark-tertiary);
}

@media (max-width: 768px) {
    section #lockers :is(#lockerLocationsOffcanvas, #lockerSizesOffcanvas, #academicCalendarOffcanvas, #lockerLogsOffcanvas) .offcanvas-body .table-container table thead {
        display: none;
    }

    section #lockers :is(#lockerLocationsOffcanvas, #lockerSizesOffcanvas, #academicCalendarOffcanvas, #lockerLogsOffcanvas) .offcanvas-body .table-container table,
    section #lockers :is(#lockerLocationsOffcanvas, #lockerSizesOffcanvas, #academicCalendarOffcanvas, #lockerLogsOffcanvas) .offcanvas-body .table-container table tbody,
    section #lockers :is(#lockerLocationsOffcanvas, #lockerSizesOffcanvas, #academicCalendarOffcanvas, #lockerLogsOffcanvas) .offcanvas-body .table-container table tr,
    section #lockers :is(#lockerLocationsOffcanvas, #lockerSizesOffcanvas, #academicCalendarOffcanvas, #lockerLogsOffcanvas) .offcanvas-body .table-container table td {
        display: block;
    }

    section #lockers :is(#lockerLocationsOffcanvas, #lockerSizesOffcanvas, #academicCalendarOffcanvas, #lockerLogsOffcanvas) .offcanvas-body .table-container table tbody {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    section #lockers :is(#lockerLocationsOffcanvas, #lockerSizesOffcanvas, #academicCalendarOffcanvas, #lockerLogsOffcanvas) .offcanvas-body .table-container table tr {
        margin-bottom: 10px;
        padding: 12px;
        border-radius: 8px;
    }

    section #lockers :is(#lockerLocationsOffcanvas, #lockerSizesOffcanvas, #academicCalendarOffcanvas, #lockerLogsOffcanvas) .offcanvas-body .table-container table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        border: none;
        padding: 6px 0;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    section #lockers :is(#lockerLocationsOffcanvas, #lockerSizesOffcanvas, #academicCalendarOffcanvas, #lockerLogsOffcanvas) .offcanvas-body .table-container table td::before {
        content: attr(data-label);
        font-weight: 500;
        color: #555;
        flex-shrink: 0;
    }

    section #lockers :is(#lockerLocationsOffcanvas, #lockerSizesOffcanvas, #academicCalendarOffcanvas, #lockerLogsOffcanvas) .offcanvas-body .table-container table td:last-child .action-buttons {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-end !important;
        gap: 6px !important;
    }
}

/* Lockers */
section #lockers .table-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section #lockers .table-container .location-slot-section {
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section #lockers .table-container .location-slot-section .location-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

section #lockers .table-container .location-slot-section .location-header h3 {
    font-weight: 500;
    color: var(--text-dark-secondary);
}

section #lockers .table-container .location-slot-section table thead tr th {
    text-align: left;
    font-weight: 500;
    vertical-align: middle;
    color: var(--text-dark-secondary);
    font-size: 14px;
}

section #lockers .table-container .location-slot-section table tbody tr td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
    color: var(--text-dark-tertiary);
    font-size: 14px;
}

@media (max-width: 768px) {
    section #lockers .table-container table thead {
        display: none;
    }

    section #lockers .table-container table,
    section #lockers .table-container table tbody,
    section #lockers .table-container table tr,
    section #lockers .table-container table td {
        display: block;
    }

    section #lockers .table-container table tbody {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    section #lockers .table-container table tr {
        margin-bottom: 10px;
        padding: 12px;
        border-radius: 8px;
    }

    section #lockers .table-container table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        border: none;
        padding: 6px 0;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    section #lockers .table-container table td::before {
        content: attr(data-label);
        font-weight: 500;
        color: #555;
        flex-shrink: 0;
    }

    section #lockers .table-container table td:last-child .action-buttons {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-end !important;
        gap: 6px !important;
    }
}

/* Users */
section #users {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
}

section #users header {
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

section #users header form {
    display: flex;
    align-items: center;
    gap: 12px;
}

section #users header form .search-group {
    display: flex;
    align-items: center;
    gap: 6px;
}

section #users header form .search-group i {
    color: var(--text-dark-secondary);
}

section #users header form .search-group input {
    flex: 1;
    padding: 6px 12px;
    border: 1px solid var(--text-light-secondary);
    background: var(--bg-secondary);
    color: var(--text-dark-primary);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    font-weight: 400;
}

section #users header form .search-group input:focus {
    border-color: var(--color-primary-base);
}

section #users header .filter-group {
    display: flex;
    align-items: center;
    gap: 6px;
}

section #users header form .filter-group i {
    color: var(--text-dark-secondary);
}

section #users header form .filter-group select {
    padding: 6px 12px;
    border: 1px solid var(--text-light-secondary);
    background: var(--bg-secondary);
    color: var(--text-dark-primary);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    font-weight: 400;
}

section #users header form .filter-group select:focus {
    border-color: var(--color-primary-base);
}

section #users #userAccountLogsOffcanvas {
    background-color: var(--bg-secondary);
    width: 100vw;
    height: 100vh;
    padding: 9px 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section #users #userAccountLogsOffcanvas .offcanvas-header,
section #users #userAccountLogsOffcanvas .offcanvas-body,
section #users #userAccountLogsOffcanvas .offcanvas-footer {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
}

section #users #userAccountLogsOffcanvas .offcanvas-header .btn-close,
section #users #userAccountLogsOffcanvas .offcanvas-header .btn-close:focus,
section #users #userAccountLogsOffcanvas .offcanvas-header .btn-close:active,
section #users #userAccountLogsOffcanvas .offcanvas-header .btn-close:hover {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

section #users #userAccountLogsOffcanvas .offcanvas-header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

section #users #userAccountLogsOffcanvas .offcanvas-header div h3 {
    color: var(--text-dark-secondary) !important;
}

section #users #userAccountLogsOffcanvas .offcanvas-body table {
    background-color: transparent !important;
}

section #users #userAccountLogsOffcanvas .offcanvas-body table thead tr th {
    text-align: left;
    font-weight: 500;
    vertical-align: middle;
    color: var(--text-dark-secondary);
    font-size: 14px;
}

section #users #userAccountLogsOffcanvas .offcanvas-body table tbody tr td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
    color: var(--text-dark-tertiary);
    font-size: 14px;
}

/* User account logs offcanvas */
section #users #userAccountLogsOffcanvas .offcanvas-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section #users #userAccountLogsOffcanvas .offcanvas-body .table-container {
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table .location-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table .location-header h3 {
    font-weight: 500;
    color: var(--text-dark-secondary);
}

section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table table thead tr th {
    text-align: left;
    font-weight: 500;
    vertical-align: middle;
    color: var(--text-dark-secondary);
    font-size: 14px;
}

section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table table tbody tr td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
    color: var(--text-dark-tertiary);
    font-size: 14px;
}

@media (max-width: 768px) {

    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table thead {
        display: none;
    }

    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table,
    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table tbody,
    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table tr,
    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table td {
        display: block;
    }

    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table tbody {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table tr {
        margin-bottom: 10px;
        padding: 12px;
        border-radius: 8px;
    }

    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        border: none;
        padding: 6px 0;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table td::before {
        content: attr(data-label);
        font-weight: 500;
        color: #555;
        flex-shrink: 0;
    }

    section #users #userAccountLogsOffcanvas .offcanvas-body .table-container table td:last-child .action-buttons {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-end !important;
        gap: 6px !important;
    }
}

/* Users */
section #users .table-container {
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section #users .table-container .nav-tabs {
    border-bottom: 1px solid var(--color-primary-base);
}

section #users .table-container .nav-tabs li a {
    color: var(--text-dark-secondary);
    font-weight: 400;
}

section #users .table-container .nav-tabs li a:hover {
    background-color: var(--color-primary-base);
    color: var(--text-light-primary);
    font-weight: 400;
}

section #users .table-container .nav-tabs li a.active {
    background-color: var(--color-primary-base);
    color: var(--text-light-primary);
    font-weight: 400;
}

section #users .table-container table thead tr th {
    text-align: left;
    font-weight: 500;
    vertical-align: middle;
    color: var(--text-dark-secondary);
    font-size: 14px;
}

section #users .table-container table tbody tr td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
    color: var(--text-dark-tertiary);
    font-size: 14px;
}

@media (max-width: 768px) {
    section #users .table-container table thead {
        display: none;
    }

    section #users .table-container table,
    section #users .table-container table tbody,
    section #users .table-container table tr,
    section #users .table-container table td {
        display: block;
    }

    section #users .table-container table tbody {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    section #users .table-container table tr {
        margin-bottom: 10px;
        padding: 12px;
        border-radius: 8px;
    }

    section #users .table-container table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        border: none;
        padding: 6px 0;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    section #users .table-container table td::before {
        content: attr(data-label);
        font-weight: 500;
        color: #555;
        flex-shrink: 0;
    }

    section #users .table-container table td:last-child .action-buttons {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-end !important;
        gap: 6px !important;
    }
}

/* View user details */
#viewActiveUserModal .modal-dialog,
#viewInactiveUserModal .modal-dialog {
    max-width: 400px !important;
}

#viewActiveUserModal .modal-content,
#viewInactiveUserModal .modal-content {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;      
    background-color: #ffffff;    
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 18px;
}

#viewActiveUserModal .modal-content .modal-header,
#viewActiveUserModal .modal-content .modal-body,
#viewActiveUserModal .modal-content .modal-footer,
#viewInactiveUserModal .modal-content .modal-header,
#viewInactiveUserModal .modal-content .modal-body,
#viewInactiveUserModal .modal-content .modal-footer {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
}

#viewActiveUserModal .modal-content .modal-header .btn-close,
#viewActiveUserModal .modal-content .modal-header .btn-close:focus,
#viewActiveUserModal .modal-content .modal-header .btn-close:active,
#viewActiveUserModal .modal-content .modal-header .btn-close:hover,
#viewInactiveUserModal .modal-content .modal-header .btn-close,
#viewInactiveUserModal .modal-content .modal-header .btn-close:focus,
#viewInactiveUserModal .modal-content .modal-header .btn-close:active,
#viewInactiveUserModal .modal-content .modal-header .btn-close:hover {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

#viewActiveUserModal .modal-content .modal-body,
#viewInactiveUserModal .modal-content .modal-body {
    display: flex;
    flex-direction: column;
}

#viewActiveUserModal .modal-content .modal-body hr,
#viewInactiveUserModal .modal-content .modal-body hr {
    margin: 8px !important;
}


#viewActiveUserModal .modal-content .modal-body .profile,
#viewInactiveUserModal .modal-content .modal-body .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#viewActiveUserModal .modal-content .modal-body .profile i,
#viewInactiveUserModal .modal-content .modal-body .profile i {
    color: var(--text-dark-tertiary);
    font-size: 128px;
    margin-bottom: 18px;
}

#viewActiveUserModal .modal-content .modal-body .profile h4,
#viewInactiveUserModal .modal-content .modal-body .profile h4 {
    color: var(--text-dark-secondary);
    text-align: center;
}

#viewActiveUserModal .modal-content .modal-body .profile small,
#viewInactiveUserModal .modal-content .modal-body .profile small {
    color: var(--text-dark-secondary);
    text-align: center;
    font-weight: 400;
}

#viewActiveUserModal .modal-content .modal-body .profile small span,
#viewInactiveUserModal .modal-content .modal-body .profile small span {
    color: var(--text-dark-secondary);
    text-align: center;
    font-weight: 400;
}

#viewActiveUserModal .modal-content .modal-body .profile-section,
#viewInactiveUserModal .modal-content .modal-body .profile-section {
    background-color: #ffffff;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#viewActiveUserModal .modal-content .modal-body .profile-section h6,
#viewInactiveUserModal .modal-content .modal-body .profile-section h6 {
    color: var(--text-dark-secondary);
}

#viewActiveUserModal .modal-content .modal-body .profile-section p,
#viewInactiveUserModal .modal-content .modal-body .profile-section p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#viewActiveUserModal .modal-content .modal-body .profile-section p small,
#viewInactiveUserModal .modal-content .modal-body .profile-section p small {
    color: var(--text-dark-tertiary) !important;
    font-size: 0.8em !important;
}

#viewActiveUserModal .modal-content .modal-body .profile-section p b,
#viewInactiveUserModal .modal-content .modal-body .profile-section p b {
    color: var(--text-dark-tertiary) !important;
    font-weight: 600 !important;
}

#viewActiveUserModal .modal-content .modal-body .profile-section p span,
#viewInactiveUserModal .modal-content .modal-body .profile-section p span {
    color: var(--text-dark-tertiary) !important;
    font-weight: 400 !important;
}