:root {
  /* Brand Color */
  --color-primary-base: #3B82F5;
  --color-primary-1: #CCE0FF;
  --color-primary-2: #A6C8FF;
  --color-primary-3: #80B0FF;
  --color-primary-4: #5796FA;
  --color-primary-5: #3B82F5;
  --color-primary-6: #3070D9;
  --color-primary-7: #245AB2;
  --color-primary-8: #19458C;
  --color-primary-9: #0F3166;

  /* Background Color */
  --bg-primary: #1A1C1F;
  --bg-secondary: #F5F9FE;

  /* Text Color */
  --text-light-primary: #F2F2F2;
  --text-light-secondary: #BFBFBF;
  --text-light-tertiary: #8C8C8C;
  --text-light-disabled: #595959;

  --text-dark-primary: #1A1C1F;
  --text-dark-secondary: #3A3D42;
  --text-dark-tertiary: #6B6E73;
  --text-dark-disabled: #A0A4AA;

  /* Success Color */
  --success-base: #43BF77;
  --success-1: #CCFFE1;
  --success-2: #A6FFCB;
  --success-3: #80FFB5;
  --success-4: #59E39A;
  --success-5: #43BF77;
  --success-6: #3AA66A;
  --success-7: #2F8C5A;
  --success-8: #24724A;
  --success-9: #1A593A;

  /* Warning Color */
  --warning-base: #F2B233;
  --warning-1: #FFE0B3;
  --warning-2: #FFC966;
  --warning-3: #FFB31A;
  --warning-4: #F5A300;
  --warning-5: #F2B233;
  --warning-6: #D99A2E;
  --warning-7: #B37724;
  --warning-8: #8C5A1A;
  --warning-9: #664010;

  /* Danger Color */
  --danger-base: #D93A3A;
  --danger-1: #FFD6D6;
  --danger-2: #FFADAD;
  --danger-3: #FF8585;
  --danger-4: #E85C5C;
  --danger-5: #D93A3A;
  --danger-6: #BF3333;
  --danger-7: #992929;
  --danger-8: #7A2121;
  --danger-9: #5C1818;

  /* Announcement Color */
  --announcement-base: #A855F7;
  --announcement-1: #E6CCFF;
  --announcement-2: #CC99FF;
  --announcement-3: #B366FF;
  --announcement-4: #A64DF2;
  --announcement-5: #A855F7;
  --announcement-6: #944DCC;
  --announcement-7: #7A3FB2;
  --announcement-8: #663399;
  --announcement-9: #4D2673;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #444;
}

* {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
    background-color: #f2f3f7;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Default Section */
section {
    background-color: var(--bg-secondary);
    color: #282829;
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 18px 0 18px;
    overflow: hidden;
}

section header {
    background-color: var(--bg-primary);
    color: var(--text-light-primary);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 10px;
}

section header .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

section header .left i {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    cursor: pointer;
    color: var(--text-light-primary);
}

@media (max-width: 767px) {
    section header .left i {
        display: flex;
    }
}

section header .left .page-title {
    font-weight: 400;
    color: var(--text-light-primary);
}

section header .right .dropdown .dropdown-toggle {
    background-color: transparent;
    color: var(--text-light-primary);
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 12px;
    font-weight: 400;
}

section header .right .dropdown .dropdown-menu {
    background-color: var(--bg-secondary);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: none;
}

section header .right .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: var(--color-primary-base);
    color: var(--text-light-primary);
}

section .content {
    flex: 1;
    overflow-y: auto;
}

/* Home */
#home {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
}

#home .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 34px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

#home .hero .left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#home .hero .left img {
    width: 250px;
}

@media (max-width: 768px) {
    #home .hero .left img {
        display: none;
    }
}

#home .hero .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#home .hero .right h1 {
    color: var(--color-primary-base);
    text-transform: uppercase;
    font-weight: 700;
}

#home .hero .right p {
    color: var(--text-dark-secondary);
    font-weight: 400;
    text-align: center;
}

/* Lockers */
#lockers {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
}

#lockers header {
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

#lockers header form {
    display: flex;
    align-items: center;
    gap: 12px;
}

#lockers header form .search-group {
    display: flex;
    align-items: center;
    gap: 6px;
}

#lockers header form .search-group i {
    color: var(--text-dark-secondary);
}

#lockers header form .search-group input {
    flex: 1;
    padding: 6px 12px;
    border: 1px solid var(--text-light-secondary);
    background: var(--bg-secondary);
    color: var(--text-dark-primary);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    font-weight: 400;
}

#lockers header form .search-group input:focus {
    border-color: var(--color-primary-base);
}

#lockers header .filter-group {
    display: flex;
    align-items: center;
    gap: 6px;
}

#lockers header form .filter-group i {
    color: var(--text-dark-secondary);
}

#lockers header form .filter-group select {
    padding: 6px 12px;
    border: 1px solid var(--text-light-secondary);
    background: var(--bg-secondary);
    color: var(--text-dark-primary);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    font-weight: 400;
}

#lockers header form .filter-group select:focus {
    border-color: var(--color-primary-base);
}

#lockers .table-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#lockers .table-container .location-slot-section {
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#lockers .table-container .location-slot-section .location-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

#lockers .table-container .location-slot-section .location-header h3 {
    font-weight: 500;
    color: var(--text-dark-secondary);
}

#lockers .table-container .location-slot-section table thead tr th {
    text-align: left;
    font-weight: 500;
    vertical-align: middle;
    color: var(--text-dark-secondary);
    font-size: 14px;
}

#lockers .table-container .location-slot-section table tbody tr td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
    color: var(--text-dark-tertiary);
    font-size: 14px;
}

@media (max-width: 768px) {
    #lockers .table-container table thead {
        display: none;
    }

    #lockers .table-container table,
    #lockers .table-container table tbody,
    #lockers .table-container table tr,
    #lockers .table-container table td {
        display: block;
    }

    #lockers .table-container table tbody {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    #lockers .table-container table tr {
        margin-bottom: 10px;
        padding: 12px;
        border-radius: 8px;
    }

    #lockers .table-container table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        border: none;
        padding: 6px 0;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #lockers .table-container table td::before {
        content: attr(data-label);
        font-weight: 500;
        color: #555;
        flex-shrink: 0;
    }

    #lockers .table-container table td:last-child .action-buttons{
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-end !important;
        gap: 6px !important;
    }
}

/* My locker application */ 
#lockers #myLockerApplicationOffcanvas {
    background-color: var(--bg-secondary) !important;
    width: 100vw !important;
    height: 100vh !important;
    padding: 9px 18px !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 12px !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-header,
#lockers #myLockerApplicationOffcanvas .offcanvas-body,
#lockers #myLockerApplicationOffcanvas .offcanvas-footer {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-header .btn-close,
#lockers #myLockerApplicationOffcanvas .offcanvas-header .btn-close:focus,
#lockers #myLockerApplicationOffcanvas .offcanvas-header .btn-close:active,
#lockers #myLockerApplicationOffcanvas .offcanvas-header .btn-close:hover {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-header div {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    gap: 12px !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-header div h3 {
    color: var(--text-dark-secondary) !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body {
    display: flex !important;
    flex-direction: column !important;
    gap: 12px !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body header {
    background-color: #ffffff !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08) !important;
    padding: 12px !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body header form {
    display: flex !important;
    align-items: center !important;
    gap: 12px !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body header form .search-group {
    display: flex !important;
    align-items: center !important;
    gap: 6px !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body header form .search-group i {
    color: var(--text-dark-secondary) !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body header form .search-group input {
    flex: 1 !important;
    padding: 6px 12px !important;
    border: 1px solid var(--text-light-secondary) !important;
    background: var(--bg-secondary) !important;
    color: var(--text-dark-primary) !important;
    border-radius: 8px !important;
    font-size: 14px !important;
    outline: none !important;
    font-weight: 400 !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body header form .search-group input:focus {
    border-color: var(--color-primary-base) !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body header .filter-group {
    display: flex !important;
    align-items: center !important;
    gap: 6px !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body header form .filter-group i {
    color: var(--text-dark-secondary) !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body header form .filter-group select {
    padding: 6px 12px !important;
    border: 1px solid var(--text-light-secondary) !important;
    background: var(--bg-secondary) !important;
    color: var(--text-dark-primary) !important;
    border-radius: 8px !important;
    font-size: 14px !important;
    outline: none !important;
    font-weight: 400 !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body header form .filter-group select:focus {
    border-color: var(--color-primary-base) !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container {
    display: flex !important;
    flex-direction: column !important;
    gap: 18px !important;
    padding: 12px;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container h3 {
    color: var(--text-dark-secondary) !important;
    font-weight: 500 !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 12px;
    align-items: start;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .cards .card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .cards .card .card-header,
#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .cards .card .card-body,
#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .cards .card .card-footer {
    border: none;
    background-color: #ffffff;
    padding: 12px;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .cards .card.accepted .card-header {
    border-radius: 12px;
    background: linear-gradient(135deg, var(--color-primary-base), var(--color-primary-6));
    position: relative;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .cards .card.pending .card-header {
    border-radius: 12px;
    background: linear-gradient(135deg, var(--success-base), var(--success-6));
    position: relative;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .cards .card.ended .card-header {
    border-radius: 12px;
    background: linear-gradient(135deg, var(--danger-base), var(--danger-6));
    position: relative;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .cards .card .card-header h4 {
    color: var(--text-dark-secondary);
    text-transform: uppercase;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .cards .card .card-header p {
    color: var(--text-dark-secondary);
    text-transform: uppercase;
    font-size: 14px;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .cards .card .card-header .badge {
    position: absolute;
    top: 12px;
    right: 12px;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .cards .card .card-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    border-radius: 12px;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .cards .card .card-body div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}   

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .cards .card .card-body div .label {
    color: var(--text-dark-tertiary);
    text-transform: uppercase;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .cards .card .card-body div p {
    color: var(--text-dark-secondary);
}   

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .cards .card .card-footer {
    border-radius: 12px;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .cards .card .card-footer .action-buttons {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    justify-content: space-between !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .card-container .cards .card .card-footer .action-buttons .sm-btn {
    flex: 1 !important;
    width: auto !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container h3 {
    color: var(--text-dark-secondary) !important;
    font-weight: 500 !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container table,
#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container table thead,
#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container table tbody,
#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container table tr,
#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container table th,
#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container table td {
    background-color: transparent !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container table thead tr th {
    text-align: left !important;
    font-weight: 500 !important;
    vertical-align: middle !important;
    color: var(--text-dark-secondary) !important;
    font-size: 14px !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container table tbody tr td {
    text-align: left !important;
    font-weight: 400 !important;
    vertical-align: middle !important;
    color: var(--text-dark-tertiary) !important;
    font-size: 14px !important;
}

#lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container table tbody tr td {
    font-weight: 400 !important;
}

@media (max-width: 768px) {
    #lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container table thead {
        display: none !important;
    }

    #lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container table,
    #lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container table tbody,
    #lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container table tr,
    #lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container table td {
        display: block !important;
    }

    #lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container table tbody {
        display: flex !important;
        flex-direction: column !important;
        gap: 24px !important;
    }

    #lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container table tr {
        margin-bottom: 10px !important;
        padding: 12px !important;
        border-radius: 8px !important;
    }

    #lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container table td {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        gap: 12px !important;
        border: none !important;
        padding: 6px 0 !important;
        font-size: 14px !important;
        overflow: hidden !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
    }

    #lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container table td::before {
        content: attr(data-label) !important;
        font-weight: 400 !important;
        color: var(--text-dark-secondary);
        flex-shrink: 0 !important;
    }

    #lockers #myLockerApplicationOffcanvas .offcanvas-body .locker-applications-container .table-container table td:last-child .action-buttons {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-end !important;
        gap: 6px !important;
    }
}

/* Profile */
section #profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;      
    gap: 12px;
    height: 100%;
}

section #profile .profile-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;      
    background-color: #ffffff;    
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 18px;
}

section #profile .profile-container hr {
    margin: 8px;
}

section #profile .profile-container .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section #profile .profile-container .profile i {
    color: var(--text-dark-tertiary);
    font-size: 128px;
    margin-bottom: 18px;
}

section #profile .profile-container .profile h4 {
    color: var(--text-dark-secondary);
    text-align: center;
}

section #profile .profile-container .profile small {
    color: var(--text-dark-secondary);
    text-align: center;
    font-weight: 400;
}

section #profile .profile-container .profile-section {
    background-color: #ffffff;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

section #profile .profile-container .profile-section h6 {
    color: var(--text-dark-secondary);
}

section #profile .profile-container .profile-section p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

section #profile .profile-container .profile-section p small {
    color: var(--text-dark-tertiary);
    font-size: 0.8em;
}

section #profile .profile-container .profile-section p b {
    color: var(--text-dark-tertiary);
    font-weight: 600;
}

section #profile .profile-container .profile-section p span {
    color: var(--text-dark-tertiary);
    font-weight: 400;
}

section #profile .change-password-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;      
    background-color: #ffffff;    
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 18px;
}

section #profile .change-password-form form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100% !important;      
}

section #profile .change-password-form form h2 {
  color: var(--color-primary-base);
  font-weight: 700;
  text-transform: capitalize;
}

section #profile .change-password-form form .action-buttons {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 8px !important;
}

section #profile .change-password-form form .action-buttons .btn {
    width: 100%;
}